:root {
    --operand-bg-btn-color: #3c4043;
    --operand-text-btn-color: #e8eaed;
    --equals-bg-btn-color: #8ab4f8;
    --equals-text-btn-color: #202124;

    --btn-border: ;
    --btn-border-radius: ;
    --btn-font-size: ;
    


}

body {
    background-color: #1f1f1f;
    font-family: Arial, sans-serif;
}

/* containers  */
.container {
    max-width: 900px;
    padding: 10px;
    margin: 0 auto;
}

.input-container {
    max-width: 400px;
    padding: 10px 0px 10px 0px;
    margin: 0 auto;
}

.number-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
/* --------------------------------------------------------------------------------- */

/* display result */
.display-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #313335;
    border-radius: 8px;
}

/* display last calculation */
.previous-operand {
    color: #969ba1;
    font-size: 13px;
    padding: 10px;
    text-align: end;
}

/* display the current result */
.current-operand{
    color:#e8eaed;
    font-size: 2rem;
    padding: 10px;
    text-align: end;
}

/* number buttons */
.operand-btn {
    color: #e8eaed;
    background-color: #3c4043;
    border: 1px solid #3c4043;
    border-radius: 4px;
    font-size: 3rem;
}

/* arithmetics */
.operator-btn {
    color: #e8eaed;
    background-color: #5f6368;
    border: 1px solid #5f6368;
    border-radius: 4px;
    font-size: 2rem;
}

/* AC, DEL, +/- */
.alt-btn {
    color: #e8eaed;
    background-color: #5f6368;
    border: 1px solid #5f6368;
    border-radius: 4px;
    font-size: 2rem;
}

/* specific for equals */
.equals {
    background-color: #8ab4f8;
    color: #202124;
    grid-column: span 2;
}

/* hover effect on buttons */
.operand-btn:hover, .operator-btn:hover, .alt-btn:hover {
    background-color: #74787c;
}

.equals:hover {
    background-color: #a6c6f8;
}